<li>
  <span class="button">
   <%= link_to '~ Lists', :controller => params[:controller], :action => 'index' %>   
  </span>
</li>
<li>
  <span class="button">
   <%= link_to '+ New', :controller => params[:controller], :action => 'new' %>   
  </span>
</li>
