<div style='max-width: 460px;padding:7px;border: 1px solid #eee;'>
  <p>
    <b>Question:</b>
    <%= @questionairre_item.question %>
  </p>
  <br/>

  <p>
    <b>Type:</b>
    <%= @questionairre_item.question_type %>
  </p>
  <br/>

  <%= render :partial => "questionairre_items/types/#{@questionairre_item.question_type}", :locals => {:questionairre_item => @questionairre_item} %>
</div>

<%= link_to 'Back', questionairre_items_path %>
