<!--start-->
<h1 style="padding: 20px; background-color: #444; color: #FFF; text-align: center; margin-bottom: 0px;">
	<%= "#{ENV['DEPLOY_SITE_NAME']}"%> Material Tracker - New Questionnaire #<%= @vendor_questionnaire.id %>
</h1>

<h2 style="padding: 10px; background-color: #99FF99; color: #FFF; text-align: center; margin-top: 0px;">
  <%= link_to 'Click here to anwser the questionnaire',vendor_view_url(@vendor_questionnaire) %>
</h2>

<h3 style="text-align: right; padding: 10px; background-color: #444; color: #FFF; margin-top: 10px;">by <a style="color: #33CC00;" href="http://www.telaeris.com">Telaeris, Inc.</a></h3>

