<div class="field">
	<p><center><b><%= @questionnaire.title %></b></center></p>
</div>

<div class="field">
	
	<%= @questionnaire.description %>	
</div>

<div id="questionnaire_questions">
	<%= render "questions/list_questionnare_items" %>
</div>
