<!--Check require variables -->
<%= form_for :questionairre_answer, :url => '', :html => {'class' => 'questionairre_answer_form'} do |f| %>
    <!--<%=   %>-->
<% end %>

<p>
  <b>Answer Expect:</b>
</p>

<br/>