<!--Check require variables -->
<p>
  <b>Answer Expect:</b>
</p>

<br/>

<% text_answer = questionairre_item.questionairre_answers.first %>
<div class="answer_wrapper">
  <%= form_for text_answer, :as => :questionairre_answer, :url => '', :html => {:class => 'questionairre_answers_form', :method => 'POST'} do |f| %>
    <%= f.hidden_field :id , :id => 'answer_id' if text_answer %>
    <%= f.text_area :answer_text, :id => 'answer_text', :rows => 5, :cols => 70, :required => true %>
  <% end %>
</div>
<div style="text-align: center;">
  <button class="" id="_save_answers"> Save </button> 
  <div class=""> 
    <span class="loading-indicator" style='display: none;'>

    </span>
    <br />
    <span class="notifier">
    </span>
  </div>
</div>
<script type="text/javascript">
  jQuery(function() {
    jQuery('#_save_answers').on('click', function() {
      //FIXME
      var answer_text = jQuery('.questionairre_answers_form #answer_text').val().trim();
      if (answer_text.length === 0) {
        jQuery('.notifier').html('<p style="color: darkred"> The answer content can\'t leave blank. </p>');
        return false;
      } else
      {
        dataSend = {};
        //data for question
        dataSend['question'] = {};
        dataSend['question']['id'] = '<%= questionairre_item.id %>';
        dataSend['question']['question'] = jQuery('.edit-questionairre-item-form .question-content').val();

        //data for answer
        dataSend['answer'] = {};
        if (jQuery('.questionairre_answers_form #answer_id').length !== 0) {
          dataSend['answer']['id'] = jQuery('.questionairre_answers_form #answer_id').val();
        }
        dataSend['answer']['answer_text'] = answer_text;

        jQuery('.notifier').html('<p style=""> Saving ...</p>');
        jQuery('.loading-indicator').show();
        jQuery.ajax({
          url: '/save_questionairre_answers',
          type: 'POST',
          data: dataSend,
          success: function(response) {
            if (response['success']) {
              jQuery('#answers_area').fadeOut(100, function() {
                jQuery(this).html(response['html']).fadeIn(100);
              })
            } else {
               jQuery('.notifier').html('<p style="color: darkred">' + response['message'] + '</p>');
            }
          },
          error: function() {
            jQuery('.notifier').html('<p style="color: darkred">Save failed. An error has occurred.</p>');
          },
          complete: function() {
            jQuery('.loading-indicator').hide();

          }
        });
      }
      return false;
    });
  });
</script>